.detailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--body-font);
  border: none;
  outline: none;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--light-green);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.arrow:hover {
  cursor: pointer;
  color: white;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  width: 70%;
  background-color: white;
}

.imageContainer {
  width: 50%;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  border-radius: 20px;
}

.image_url {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.detailsContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.updateButton {
  height: 3rem;
  background-color: transparent;
  color: var(--purple);
  border: solid 2px var(--purple);
  border-radius: 20px;
  font-size: 20px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.deleteButton {
  height: 3rem;
  background-color: transparent;
  color: var(--purple);
  border: solid 2px var(--purple);
  border-radius: 20px;
  font-size: 20px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.updateButton:hover {
  background-color: var(--purple);
  color: var(--light-green);
  cursor: pointer;
}

.deleteButton:hover {
  border: solid 2px red;
  color: red;
  cursor: pointer;
}

.title {
  text-align: left;
  font-size: 30px;
}

.brand {
  font-size: 30px;
  color: var(--light-purple);
}

.logoContainer {
  margin-top: 30px;
  width: 10rem;
}

.brandLogo {
  width: 100%;
}

.description {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  text-align: justify;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.3rem;
  width: 30%;
  font-family: var(--body-font);
  font-size: 30px;
  background-color: var(--light-green);
  font-weight: bold;
  border-radius: 20px;
  margin-top: 20%;
  margin-left: 60%;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.price:hover {
  cursor: pointer;
  background-color: var(--purple);
  color: var(--light-green);
}

.span {
  color: yellow;
}
