:root {
    --blue: #24A7CE;
    --white: #F7F9FA;
    --purple: #402B9A;
    --green: #18b492b0;
    --light-purple: #684CE1;
    --light-green: #01FCC3;
    --card-bg-color: #ffe6cc;
    --card-border-radius: 10px;
    --card-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
    background: linear-gradient(to top left, var(--green),var(--light-purple));
    background-size: 100% 100%;
}



.App {
    display: flex;
    flex-direction: column;
}

.logo {
    margin-right: 10px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}