.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  height: 120px;
  padding: 0 40px;
  box-shadow: none;
}

.logoContainer {
  margin-top: 1.1rem;
  margin-right: 10px;
  margin-left: 111px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.221));
  width: 240px;
  height: 48px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.btnLogo {
  border: none;
  background: none;
  cursor: pointer;
}

.logo:hover {
  transition: 0.3s;
  transform: scale(1.01);
  filter: drop-shadow(0px 0px 40px rgb(255, 255, 255));
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  display: flex;
  align-items: center;
  height: 40px;
  position: relative;
}

.searchInput {
  border: none;
  background: none;
  margin-top: 0.5rem;
  width: 25%;
  font-size: 22px;
  color: #ffffff;
  border-bottom: 4px solid #ffffff00;
  font-family: var(--body-font);
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.searchInput:hover {
  width: 295px;
  transition: 0.5s;
  border-bottom: 4px solid #ffffff;
}

.searchInput::placeholder {
  color: #ffffff;
  font-size: 21px;
  font-family: var(--body-font);
}

.searchInput:focus {
  outline: none;
}

.createContainer {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  background-color: var(--light-green);
  color: var(--purple);
  border: none;
  border-radius: 12px;
  font-size: 20px;
  padding: 10px 20px;
  box-shadow: 0px 1px 0px rgb(0, 0, 0);
  font-weight: bold;
}

.button:hover {
  background-color: var(--purple);
  color: var(--light-green);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
}

.arrow {
}

.productsLink {
  text-decoration: none;
}

.brandsLink {
  text-decoration: none;
}

.searchInput:hover {
  cursor: text;
}
